.app{
    padding: 10px;
    height: 62%;
    max-height: 700px;
    display: flex;
    justify-content: center;
}
.error-alert{
    text-align: center;
    button{
        margin-bottom: 10px;
}
}
.container-fluid{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.data-input{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.css-2b097c-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}
.selector-component{
    width: 100%;
    margin: 10px 0;
    position: relative;
    box-sizing: border-box;
}